.d-1 {
  border: 2px red solid;
}

.spacer {
  flex: 1 1 auto;
}

.primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.profile {
  border-radius: 50%;
  color: var(--primary-color);
  background-color: #ebfeff;
  padding: 1rem;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

.left {
  text-align: start;
}

.bold {
  font-weight: bold;
}

.w-100 {
  width: 100%;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}
